* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
a {
  font-family: "MedievalSharp", cursive;
  color: #bb7212;
}

body {
  height: 100vh;
  background-image: url(assets/Casa-Targaryen.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  font-size: 48px;
}

.botao {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  font-weight: 600;
  padding: 21.5px 12px;

  border: 4px solid #bb7212;
  border-radius: 8px;

  transition: all 700ms;
}

.botao:hover {
  color: rgb(145, 11, 11);
  border-color: rgb(145, 11, 11);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}



